<h1><%=@posts.first.user.name%></h1>
<div class="user-wrapper">
    <div class="user-container">
        <div class="user-list">
            <span class="photo">
                <%= image_tag(@posts.first.user.photo, size: "100x100") %>
            </span>
            <span class="user-info">
                <span>
                    <%= link_to @posts.first.user.name, user_path(user_id: @posts.first.user.id, format: :html) %>
                </span>
                <span>
                    number of posts: <%= @posts.first.user.posts_counter ? @posts.first.user.posts_counter : 0 %>
                  </span>
            </span>
        </div>
        <%@posts.each do |post|%>
        <div class="post-list">
            <span class="post-text">
                <span>
                    <%= link_to "Post #: #{post.id}", user_post_path(user_id: post.user_id, post_id: post.id) %>
                </span>
                <span>
                    <%= post.text %>
                </span>
                <span>comments: <%= post.comments.count %>&nbsp; likes: <%= post.likes.count %></span>
            </span>
            <ul class="comment-text">
                <%post.comments.each do |comment|%>
                <li>
                    <%=post.user.name%>:<%=comment.text%>
                </li>
                <%end%>
            </ul>
        </div>
        <%end%>
    </div>
</div>