<% require 'will_paginate/view_helpers/action_view' %>
<div class="user-wrapper">
    <div class="user-container">
        <div class="user-list">
            <span class="photo">
                <%= image_tag(@posts.first.user.photo, size: "100x100") %>
            </span>
            <span class="user-info">
                <span>
                    <%= link_to @posts.first.user.name, user_path(user_id: @posts.first.user.id, format: :html) %>
                </span>
                <span>
                    number of posts: <%= @posts.first.user.posts_counter ? @posts.first.user.posts_counter : 0 %>
                  </span>
            </span>
        </div>
        <%= will_paginate @posts, class: "pagination", :previous_label => 'Previous', :next_label => 'Next', :inner_window => 2, :outer_window => 0 %>
        <%@posts.each do |post|%>
        <div class="post-list">
            <span class="post-text">
                <span>
                    <%= link_to "Post #: #{post.id}", url_for(controller: 'posts', action: 'show', user_id: post.user_id, post_id: post.id) %>
                </span>
                <span>
                    <%= post.text %>
                </span>
                <span>comments: <%= post.comments.count %>&nbsp; likes: <%= post.likes.count %></span>
            </span>
            <ul class="comment-text">
                <%post.comments.order("created_at DESC").first(5).each do |comment|%>
                <li>
                    <%=post.user.name%>:<%=comment.text%>
                </li>
                <%end%>
            </ul>
        </div>
        <%end%>
        <%= will_paginate @posts, class: "pagination", :previous_label => 'Previous', :next_label => 'Next', :inner_window => 2, :outer_window => 0 %>
    </div>
</div>