<!DOCTYPE html>
<html>
  <head>
    <title>MyBlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "app" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "show_more" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <%= render 'layouts/shared/navbar' %>
      <h1 align="center">The Blogger!!</h1>
      <%= yield %>
    </div>
  </body>
</html>
