<!DOCTYPE html>
<html>
  <head>
    <title>MyBlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "app" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <%= render 'layouts/shared/navbar' %>
        <%= render 'layouts/shared/alerts'%>
    </header>
    <main class="container">
      <h1 align="center">The Blogger!!</h1>    
      <%= yield %>
    </main>
  </body>
</html>
